<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/assets/bootstrap.css" />
    <title>Admin Login</title>
  </head>
  <body>
    <%- include('../header' , { admin : admin , active : "admin_home" }) %>
  </body>
  <script src="/assets/jquery.js"></script>
  <script src="/assets/bootstrap.js"></script>
  <script src="/assets/popper.js"></script>
</html>
