<!doctype html>
<html lang="en">

<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!-- Required meta tags -->
    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="img/favicon.png" type="image/png">
    <title>About</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="vendors/linericon/style.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="vendors/lightbox/simpleLightbox.css">
    <link rel="stylesheet" href="vendors/nice-select/css/nice-select.css">
    <link rel="stylesheet" href="vendors/animate-css/animate.css">
    <!-- main css -->
    <link rel="stylesheet" href="css/style.css">
	
	<style>
	
	
	.navbar-toggler span
	{
	background:#ea247d;
	}
	

	
	
	</style>
</head>

<body>

    <!--================ Start Header Menu Area =================-->
	<%- include('header_index') %>
    <!--================ End Header Menu Area =================-->

    <!--================Home Banner Area =================-->
    <section class="banner_area" style="min-height: 150px;">
        <div class="banner_inner d-flex align-items-center" style="min-height: 150px;">
            <div class="overlay"></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="banner_content text-center">
                            <h2 style="font-family: 'Poppins', sans-serif !important;font-size: 38px;">About Us</h2>
                            <!--<p>In the history of modern astronomy, there is probably no one greater leap forward than the  building and launch of the space telescope known as the Hubble.</p>
                            <div class="page_link">
                                <a href="index.html">Home</a>
                                <a href="about-us.html">About</a>
                            </div>-->
							
							
                                <a href="index.html" style="font-family: 'Poppins', sans-serif !important;font-size: 15px;color:white">Home | </a>
                                <a href="about-us.html" style="font-family: 'Poppins', sans-serif !important;font-size: 15px;color:white">About Us</a>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Home Banner Area =================-->
	
	
	<!-- Start Sample Area -->
	<section class="sample-text-area" >
		<div class="container" style="background-color:#F2F3F4 ;border:1px solid #F2F3F4 ;border-radius:10px;padding:10px">
			<h3 class="text-heading title_color" style="font-family: 'Poppins', sans-serif !important;">	ABOUT US</h3>
			<p class="sample-text" style="" >
			
BRIGHT FUTURE EDUCATION CONSULTANCY (BrightEDU) was established in the year 2014. We consult for high education planning and materialize or go for implementation according to the university's requirement. Our company offer range of consulting services to help analyze university's requirements for effective and flexibility of oversea student’s recruitment.

 </p><br>
<p class="sample-text">
BRIGHT FUTURE EDUCATION CONSULTANCY helps to get Admission to Chinese Universities with different kind of scholarships, Waiver on Tuition fees and accommodation fees or partial scholarships for overseas students since 2014. We have worked with over thirty Universities; School of International Education (SIE) in China for admission promotion and recruitment.
</p><br>
 <p class="sample-text">

Core Areas: Education Consultant in China. Correspondence Education, On line education, Consultancy to Universities, Corporate Trainings and we are one of the Best Education Consultant in China.

 </p><br>
<p class="sample-text">
Strength Areas: BrightEDU Admission Solution manages centers across the country and our mission is to create collaboration with more Regular Education University in China.
</p><br>
 <p class="sample-text">

Specialization Areas: We are Providing Best Recruitment service and Universities promotion. 
</p><br>
 <p class="sample-text">

Vision & Mission: To maintain quality service in the field of capital market education and create new sector oriented courses which help corporate as well as students, to become benchmark education consultant centre across the world.

			</p>
			
			
			
			
		</div>
	</section>
	<!-- End Sample Area -->
	<div class="department_area">
        <div class="container">
            <div class="row align-items-center">
               <div class="col-lg-6">
					<div class="dpmt_courses">
						<div class="row">
							<!-- single course -->
							<div class="col-lg-4 col-md-4 col-sm-6 col-12 text-center mt-100">
								
									<div>
									<div class="dpmt_icon">
										<img src="images/a2.jpg" alt="" style="width:auto;">
									</div>
									<!--<h4>Languages</h4>-->
								</div>
									
							</div>
							
						</div>
					</div>
				</div>

                <div class="offset-lg-1 col-lg-5">
                    <div class="dpmt_right">
					<br><br>
                        <h1> Our Services </h1>
                            
                          <p> We Provide:  </p>                         

                          <p> Full Scholarship Application  </p>                                                       
                          <p> Partial Scholarship Application</p>
						 
                          <p>Self Supporting Application   </p> 

                          <p>Short term program: For High School & Graduate Students</p> 
						  
						  
                        
                        <!--<a href="#" class="primary-btn text-uppercase">Explore Courses</a>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
	
	
	<section class="sample-text-area">
		<div class="container" style="background-color:#F2F3F4 ;border:1px solid #F2F3F4 ;border-radius:10px;padding:10px">
					
			
 <p class="sample-text">			

Financial support is an important factor in the decision to study abroad and the Chinese government is offering a wide range of funding opportunities to attract and help international students with more than 40,000 scholarships at more than 277 institutions.
</p><br>
 <p class="sample-text">

Knowledge and experience of China is an increasingly valuable asset in many industries. As the fourth most popular destination for international travel, with nearly 12 million business trips to China in 2015, the country is growing in economic and cultural significance.
</p><br>
 <p class="sample-text">

Experience of China and Chinese, which is the third most popular language to learn in the world, could give you a great career boost. Studying in China gives you experience about how things work in this part of the world and helps you to become more independent
</p><br>
 <p class="sample-text">


Chinese university are increasingly well respected, the number included in major global university ranking has risen significantly over the past five years with varieties of different scholarships particularly compared with the UK, which has fall in many ranking.
</p><br>
 <center><p class="sample-text" style="color: #993300;text-align:justify">

Our Company is as client - focused and result driven education consulting firm that provides broad-based services at an affordable fee that won't in any way put a hole in the pocket of our students
	</p> </center>
		
			
			
			
			
		</div>
	</section>
	
	
	
	
	
    <!--================ End Testimonial Area =================-->

    <!--================ Start footer Area  =================-->
   <footer class="footer-area section_gap" style="background-color:#0e3091;">
		<div class="container" style="margin-top:-50px;margin-bottom:-100px">
			<div class="row">
				<div class="col-lg-3 col-md-6 single-footer-widget">
					<h4>SCHOLARSHIPS</h4>
					<ul>
						<li><a href="#" style="color:white">Non Degree</a></li>
						<li><a href="#" style="color:white">Diploma</a></li>
						<li><a href="#" style="color:white">Bachelor</a></li>
						<li><a href="#" style="color:white">Master</a></li>
						<li><a href="#" style="color:white">PHD</a></li>
					</ul>
				</div>
				<div class="col-lg-3 col-md-6 single-footer-widget">
					<h4>Courses</h4>
					<ul>
						<li><a href="#" style="color:white">Non Degree</a></li>
						<li><a href="#" style="color:white">Diploma</a></li>
						<li><a href="#" style="color:white">Bachelor</a></li>
						<li><a href="#" style="color:white">Master</a></li>
						<li><a href="#" style="color:white">PHD</a></li>
					</ul>
				</div>
				<div class="col-lg-3 col-md-6 single-footer-widget">
					<h4>UNIVERSITIES</h4>
					<ul>
						<li><a href="#" style="color:white">China University</a></li>
						
					</ul>
				</div>
				<div class="col-lg-3 col-md-6 single-footer-widget">
					<h4>CONTACT INFO</h4>
					<ul>
						<li><a href="#" style="color:white">Address:  Building 86, Room 613. 6th Floor, Li Shuang Road, South of Kunlan Park, New Home, Jinnan Distrcit, Tianjin City P.R. China.</a></li>
						<li><a href="#" style="color:white">Phone: 022-2855-7478</a></li>
						<li><a href="#" style="color:white">Email: service@brightedu.cn.com</a></li>
						
						
					</ul>
				</div>
				
			</div>
			
		</div>
	</footer>
	<div class="header-top" style="background-color:#ea247d;display:block;padding:8px;">
			<div class="container">
			
				<div class="row align-items-center">
					
					<div class="col-lg-12">
					
						<center><font style="font-family: 'Poppins', sans-serif !important;font-size: 12px;color:#fff">Copyright © 2018 All rights reserved <br> Designed by <a href="#">Techieshubhdeep IT Solution Pvt Ltd</font>
					    </center>
				
					
					</div>
					
				
				</div>
			
			</div>
		</div>
	<!--================ End footer Area  =================-->

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="js/popper.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/stellar.js"></script>
	<script src="js/countdown.js"></script>
	<script src="vendors/nice-select/js/jquery.nice-select.min.js"></script>
	<script src="vendors/owl-carousel/owl.carousel.min.js"></script>
	<script src="js/owl-carousel-thumb.min.js"></script>
	<script src="js/jquery.ajaxchimp.min.js"></script>
	<script src="vendors/counter-up/jquery.counterup.js"></script>
	<script src="js/mail-script.js"></script>
	<!--gmaps Js-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
	<script src="js/gmaps.min.js"></script>
	<script src="js/theme.js"></script>
</body>

</html>