

<!doctype html>
<html lang="en">

<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!-- Required meta tags -->
    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="img/favicon.png" type="image/png">
    <title>About</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="vendors/linericon/style.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="vendors/lightbox/simpleLightbox.css">
    <link rel="stylesheet" href="vendors/nice-select/css/nice-select.css">
    <link rel="stylesheet" href="vendors/animate-css/animate.css">
    <!-- main css -->
    <link rel="stylesheet" href="css/style.css">
	
	<style>
	
	
	.navbar-toggler span
	{
	background:#ea247d;
	}
	

	
	
	</style>
</head>

<body>

    <!--================ Start Header Menu Area =================-->
    <%- include('header_index') %>
    <!--================ End Header Menu Area =================-->

    <!--================Home Banner Area =================-->
    <section class="banner_area" style="min-height: 150px;">
        <div class="banner_inner d-flex align-items-center" style="min-height: 150px;">
            <div class="overlay"></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="banner_content text-center">
                            <h2 style="font-family: 'Poppins', sans-serif !important;font-size: 38px;">Pick-up-Service</h2>
                          
                                <a href="index.html" style="font-family: 'Poppins', sans-serif !important;font-size: 15px;color:white"> About-us | </a>
                                <a href="about-us.html" style="font-family: 'Poppins', sans-serif !important;font-size: 15px;color:white">Pick-up-Service</a>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Home Banner Area =================-->
	
	<section class="sample-text-area" >
		<div class="container">
		    <div class="col-lg-12">
		        <img class="img-fluid" src="images/p1.jpg" alt="" style="width:1200px" >
		    </div>
		</div>
	</section>
	
	
	<!-- Start Sample Area -->
 <section class="course_details_area" >
        <div class="container">
		
		
		  <center> <h2 >Why to use our Pick-Up Service!!</h2></center> <br>
            <div class="row">
                <div class="col-lg-6 course_details_left">
                    <div class="main_image">
                        <img class="img-fluid" src="images/p2.jpg" alt="">
                    </div>
					<br>
					<div class="main_image">
                        <img class="img-fluid" src="images/p3.jpg" alt="">
                    </div>
					
                   <!-- <div class="content_wrapper">
                        <h4 class="title">Objectives</h4>
                        <div class="content">
                            When you enter into any new area of science, you almost always find yourself with a
                            baffling new language of
                            technical terms to learn before you can converse with the experts. This is certainly
                            true in astronomy both in
                            terms of terms that refer to the cosmos and terms that describe the tools of the trade,
                            the most prevalent
                            being the telescope.
                            <br>
                            <br>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore
                            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                            ut aliquip ex ea
                            commodoconsequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum. Lorem ipsum dolor sit
                            amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua. Ut enim
                            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo consequat. Duis aute
                            irure dolor in reprehenderit in voluptate velit esse cillum.
                        </div>

                        <h4 class="title">Eligibility</h4>
                        <div class="content">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore
                            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                            ut aliquip ex ea commodo
                            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.
                            <br>
                            <br>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore
                            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                            ut aliquip ex ea
                            commodoconsequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum. Lorem ipsum dolor sit
                            amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua. Ut enim
                            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo consequat. Duis aute
                            irure dolor in reprehenderit in voluptate velit esse cillum.
                        </div>

                        <h4 class="title">Course Outline</h4>
                        <div class="content">
                            <ul class="course_list">
                                <li class="justify-content-between d-flex">
                                    <p>Introduction Lesson</p>
                                    <a class="primary-btn text-uppercase" href="#">View Details</a>
                                </li>
                                <li class="justify-content-between d-flex">
                                    <p>Basics of HTML</p>
                                    <a class="primary-btn text-uppercase" href="#">View Details</a>
                                </li>
                                <li class="justify-content-between d-flex">
                                    <p>Getting Know about HTML</p>
                                    <a class="primary-btn text-uppercase" href="#">View Details</a>
                                </li>
                                <li class="justify-content-between d-flex">
                                    <p>Tags and Attributes</p>
                                    <a class="primary-btn text-uppercase" href="#">View Details</a>
                                </li>
                                <li class="justify-content-between d-flex">
                                    <p>Basics of CSS</p>
                                    <a class="primary-btn text-uppercase" href="#">View Details</a>
                                </li>
                                <li class="justify-content-between d-flex">
                                    <p>Getting Familiar with CSS</p>
                                    <a class="primary-btn text-uppercase" href="#">View Details</a>
                                </li>
                                <li class="justify-content-between d-flex">
                                    <p>Introduction to Bootstrap</p>
                                    <a class="primary-btn text-uppercase" href="#">View Details</a>
                                </li>
                                <li class="justify-content-between d-flex">
                                    <p>Responsive Design</p>
                                    <a class="primary-btn text-uppercase" href="#">View Details</a>
                                </li>
                                <li class="justify-content-between d-flex">
                                    <p>Canvas in HTML 5</p>
                                    <a class="primary-btn text-uppercase" href="#">View Details</a>
                                </li>

                            </ul>
                        </div>
                    </div>-->
                </div>


                <div class="col-lg-6 right-contents">
                   
                   <!-- <h4 class="title">Reviews</h4>-->
                    <div class="content">
                        <div class="review-top row pt-40">
                            <div class="col-lg-12">
							
                                <h6 class="mb-15">Your name will be on the Pick-up Plate</h6>
								
								<h6 class="mb-15"> We will give you phone to inform your family that you arrived</h6>
								
								<h6 class="mb-15"> We will help you in booking of flight, train or bus that will take you to your University.</h6>
								
								<h6 class="mb-15">We will arrange someone to wait for you at your University gate or we take you directly to university.</h6>
								
								<h6 class="mb-15"> Students need to book for pick-up 12-10 days prior to the arrival and send through the following scan copies:</h6>
								
								<h6 class="mb-15">1. Admission notice</h6>
								
								<h6 class="mb-15">2. Visa Page</h6>
								
								<h6 class="mb-15">3. Intienary details(flight details)</h6>
								
								
								
                                <!--<div class="d-flex flex-row reviews justify-content-between">
                                    <span>Quality</span>
                                    <div class="star">
                                        <i class="fa fa-star checked"></i>
                                        <i class="fa fa-star checked"></i>
                                        <i class="fa fa-star checked"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <span>Outstanding</span>
                                </div>
								
                                <div class="d-flex flex-row reviews justify-content-between">
                                    <span>Puncuality</span>
                                    <div class="star">
                                        <i class="fa fa-star checked"></i>
                                        <i class="fa fa-star checked"></i>
                                        <i class="fa fa-star checked"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <span>Outstanding</span>
                                </div>
                                <div class="d-flex flex-row reviews justify-content-between">
                                    <span>Quality</span>
                                    <div class="star">
                                        <i class="fa fa-star checked"></i>
                                        <i class="fa fa-star checked"></i>
                                        <i class="fa fa-star checked"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <span>Outstanding</span>
                                </div>-->
                            </div>
                        </div>
						<br>
					<div class="main_image">
                        <img class="img-fluid" src="images/p4.jpg" alt="">
                    </div>
                       <!-- <div class="feedeback">
                            <h6>Your Feedback</h6>
                            <textarea name="feedback" class="form-control" cols="10" rows="10"></textarea>
                            <div class="mt-10 text-right">
                                <a href="#" class="primary-btn text-right text-uppercase">Submit</a>
                            </div>
                        </div>
                        <div class="comments-area mb-30">
                            <div class="comment-list">
                                <div class="single-comment single-reviews justify-content-between d-flex">
                                    <div class="user justify-content-between d-flex">
                                        <div class="thumb">
                                            <img src="img/blog/c1.jpg" alt="">
                                        </div>
                                        <div class="desc">
                                            <h5><a href="#">Emilly Blunt</a>
                                                <div class="star">
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star"></span>
                                                    <span class="fa fa-star"></span>
                                                </div>
                                            </h5>
                                            <p class="comment">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                                eiusmod tempor incididunt ut labore et dolore.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="comment-list">
                                <div class="single-comment single-reviews justify-content-between d-flex">
                                    <div class="user justify-content-between d-flex">
                                        <div class="thumb">
                                            <img src="img/blog/c2.jpg" alt="">
                                        </div>
                                        <div class="desc">
                                            <h5><a href="#">Elsie Cunningham</a>
                                                <div class="star">
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star"></span>
                                                    <span class="fa fa-star"></span>
                                                </div>
                                            </h5>
                                            <p class="comment">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                                eiusmod tempor incididunt ut labore et dolore.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="comment-list">
                                <div class="single-comment single-reviews justify-content-between d-flex">
                                    <div class="user justify-content-between d-flex">
                                        <div class="thumb">
                                            <img src="img/blog/c3.jpg" alt="">
                                        </div>
                                        <div class="desc">
                                            <h5><a href="#">Maria Luna</a>
                                                <div class="star">
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star"></span>
                                                    <span class="fa fa-star"></span>
                                                </div>
                                            </h5>
                                            <p class="comment">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                                eiusmod tempor incididunt ut labore et dolore.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </section>
	
	
	<section class="sample-text-area" >
		<div class="container">
			<center><p class="sample-text">
	Arriving in a new country can be strange and disconcerting and when you are doing it on your own and for the first time it can be even more worrying and depressing because of language barrier. Our student airport pickup service helps and gives parents the peace of mind that their child will arrive at school safely. Plus, as part of the service, we let the arriving student make a text message or short telephone call to their family to let them know that they have arrived safely.
<br><br>
Our Prices
<br><br>
The price will be decided based on the distance and chosen vehicle, normally from 350CNY to 1000CNY.

			</p></center>
			
			
			
			
		</div>
	</section>
	
	
    <!--================ End Testimonial Area =================-->

    <!--================ Start footer Area  =================-->
   <footer class="footer-area section_gap" style="background-color:#0e3091;">
		<div class="container" style="margin-top:-50px;margin-bottom:-100px">
			<div class="row">
				<div class="col-lg-3 col-md-6 single-footer-widget">
					<h4>SCHOLARSHIPS</h4>
					<ul>
						<li><a href="#" style="color:white">Non Degree</a></li>
						<li><a href="#" style="color:white">Diploma</a></li>
						<li><a href="#" style="color:white">Bachelor</a></li>
						<li><a href="#" style="color:white">Master</a></li>
						<li><a href="#" style="color:white">PHD</a></li>
					</ul>
				</div>
				<div class="col-lg-3 col-md-6 single-footer-widget">
					<h4>Courses</h4>
					<ul>
						<li><a href="#" style="color:white">Non Degree</a></li>
						<li><a href="#" style="color:white">Diploma</a></li>
						<li><a href="#" style="color:white">Bachelor</a></li>
						<li><a href="#" style="color:white">Master</a></li>
						<li><a href="#" style="color:white">PHD</a></li>
					</ul>
				</div>
				<div class="col-lg-3 col-md-6 single-footer-widget">
					<h4>UNIVERSITIES</h4>
					<ul>
						<li><a href="#" style="color:white">China University</a></li>
						
					</ul>
				</div>
				<div class="col-lg-3 col-md-6 single-footer-widget">
					<h4>CONTACT INFO</h4>
					<ul>
						<li><a href="#" style="color:white">Address:  Building 86, Room 613. 6th Floor, Li Shuang Road, South of Kunlan Park, New Home, Jinnan Distrcit, Tianjin City P.R. China.</a></li>
						<li><a href="#" style="color:white">Phone: 022-2855-7478</a></li>
						<li><a href="#" style="color:white">Email: service@brightedu.cn.com</a></li>
						
						
					</ul>
				</div>
				
			</div>
			
		</div>
	</footer>
	<div class="header-top" style="background-color:#ea247d;display:block;padding:8px;">
			<div class="container">
			
				<div class="row align-items-center">
					
					<div class="col-lg-12">
					
						<center><font style="font-family: 'Poppins', sans-serif !important;font-size: 12px;color:#fff">Copyright © 2018 All rights reserved <br> Designed by <a href="#">Techieshubhdeep IT Solution Pvt Ltd</font>
					    </center>
				
					
					</div>
					
				
				</div>
			
			</div>
		</div>
	<!--================ End footer Area  =================-->

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="js/popper.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/stellar.js"></script>
	<script src="js/countdown.js"></script>
	<script src="vendors/nice-select/js/jquery.nice-select.min.js"></script>
	<script src="vendors/owl-carousel/owl.carousel.min.js"></script>
	<script src="js/owl-carousel-thumb.min.js"></script>
	<script src="js/jquery.ajaxchimp.min.js"></script>
	<script src="vendors/counter-up/jquery.counterup.js"></script>
	<script src="js/mail-script.js"></script>
	<!--gmaps Js-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
	<script src="js/gmaps.min.js"></script>
	<script src="js/theme.js"></script>
</body>

</html>