<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/assets/bootstrap.css" />
    <title>Add Course</title>
  </head>
  <body>
    <%- include('../header' , { admin : admin , active : "university_add" }) %>
    <div class="container">
      <div class="col-md-12">
        <div class="card mt-4">
          <div class="card-header">
            <b>Add University </b>
          </div>
          <form action="/university/add" method="post">
            <div class="card-body register">
              <p class="card-text">
                <b>Please Fill University Details here</b>
              </p>

              <div class="form-group">
                <label for="formGroupExampleInput">University Name</label>
                <input
                  type="text"
                  required
                  class="form-control"
                  name="name"
                  placeholder="University Name"
                />
              </div>
              <div class="form-group">
                <input
                  type="submit"
                  style="width : 100%"
                  class="btn btn-primary"
                />
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
  <script src="/assets/jquery.js"></script>
  <script src="/assets/bootstrap.js"></script>
  <script src="/assets/popper.js"></script>
</html>
